/* TEST STYLING */


/* NAVIGATION STYLING */
#title-and-nav, #nav {
    display: flex;
}

#title-and-nav {
    justify-content: space-between;
}

/* STYLING FOR THE NEW BOOK FORM */
#new-book, #edit-book {
    display: none; /* by default hides the new book form */
    width: 80%;
    margin: auto;
    background-color: beige;

    /* centers the div */
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

div {
    border: 2px solid black;
}


/* STYLING FOR THE TBR COLLECTION */
.books-cont {  
    display: none;  /* by fault hides all sorting options */
}

#cont-title-a {
    display: block;  /* except for the default one */
}


/* STYLING FOR THE LOGIN/REGISTER TEMPLATES */



/* GENERAL STYLING */


