/* NAVIGATION STYLING */
#title-and-nav, #title-and-icon, #nav {
    display: flex;
    align-items: center;
}

#title-and-nav {
    padding: 10px;
    justify-content: space-between;
    border-bottom: 10px solid #ECE2D0;
}

#title-and-nav, #title-and-nav * {
    background-color: #7A6563;
}

#title-and-icon {
    margin-left: 30px;
}

#app-title {
    margin: 0px;
    color: #ECE2D0;
}

i {
    font-size: 35px;
    padding: 10px;
    color: #ECE2D0;
}

#nav {
    margin-right: 30px;
}

#log-out {
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    padding-top: 14px;
    color: inherit; /* or any color you want */
    text-decoration: none;
    color: #ECE2D0;
}

.bi-plus-circle:hover, #log-out:hover {
    color: #D3A588;
    cursor: pointer;
}


/* STYLING FOR THE NEW BOOK / EDIT BOOK FORMS */
#backdrop {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D3A588;
    opacity: 50%;
    z-index: 1; /* or higher if needed */
}

#new-book, #edit-book {
    background-color: #D3A588;

    display: none; /* by default hides the new book form */
    width: 60%;
    margin: auto;
    padding: 10px;
    border: 2px solid #7A6563;
    border-radius: 20px;

    /* centers the div */
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;  /* so it's on top of the backdrop */
}

@media only screen and (max-width: 1020px) {
    #new-book, #edit-book {
        width: 80%;
    }
}

#new-book *, #edit-book * {
    background-color: #D3A588;
}

#new-book-form > div, #edit-book-form > div {
    margin: 10px;
}

#title-and-exit {
    display: flex;
    justify-content: space-between;
}

.options-cont {
    display: flex;
    flex-wrap: wrap;
}

.options-cont div {
    margin-right: 10px;
    border: 2px solid #7A6563;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.text-input {
    border: 2px solid #7A6563;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    display: block;
}

#new-book-submit, #edit-book-submit {
    margin: 10px;
    color: #ECE2D0 !important;
    background-color: #7A6563;
    border: 2px solid #7A6563;
    border-radius: 7px;
}

.edit-option-priority, .option-priority {
    width: 30px;
    text-align: center;
}

#exit-form, #edit-exit-form {
    border: 2px solid #7A6563;
    border-radius: 20px;
    height: 38px;
}

.options-cont div:hover, #exit-form:hover, #edit-exit-form:hover  {
    background-color: #7A6563 !important;
    color: #ECE2D0 !important;
    cursor: pointer;
}


/* STYLING FOR THE TBR COLLECTION */
#select-cont {
    display: flex;
    padding: 10px;
    padding-left: 30px;
}

#select {
    margin-left: 10px;
}

#select:hover {
    cursor: pointer;
}

.books-cont {  
    display: none;  /* by fault hides all sorting options. it switches to flex */
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cont-title-a {
    display: flex;  /* except for the default one */
}

.book-div {
    border: 2px solid #7A6563;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 230px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.book-div p {
    padding: 3px;
}

#edit-and-delete {
    margin-top: auto;
    padding-top: 10px;
}

#edit-and-delete button, .login-register-btns {  /* includes login button from login.html */
    border: 2px solid #7A6563;
    border-radius: 7px;
}

#edit-and-delete button:hover, .login-register-btns:hover {  /* includes login button from login.html */
    background-color: #7A6563;
    color: #ECE2D0 !important;
}

.book-title {
    text-align: center;
}

.book-continuing-cont {  /* by fault hides the continuing */
    display: none;
}


/* STYLING FOR THE LOGIN/REGISTER/ERROR TEMPLATES */
.login-register-conts, #error-cont {
    padding-left: 30px;
    padding-top: 10px;
}

#register, #login {
    margin-top: 30px;
}

.login-register-inputs {
    border: 2px solid #7A6563;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
}


/* GENERAL STYLING */
* {
    font-family: "Zilla Slab", serif;
}

p, h3 {
    margin-bottom: 0px;
}

hr {
    margin: 10px;
}

html, * {
    background-color: #ECE2D0;
}

#main * {
    color: #7A6563;
}

select {
    border: 2px solid #7A6563;
    border-radius: 10px;
    padding-left: 3px;
}

.chosen {  /* for options that have been picked */
    background-color: #7A6563 !important;
    color: #ECE2D0 !important;
}

b {
    font-weight: 600;
}