{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <div class="login-register-conts">
        <h2>Log into your account!</h2>
        <form action="/login" method="POST">
            <input class="login-register-inputs" name="username" placeholder="Username" type="text">
            <input class="login-register-inputs" name="password" placeholder="Password" type="password">
            <button class="login-register-btns" type="submit">Log In</button>
        </form>
        <h3 id="register">Don't have an account yet?</h3>
        <a class="register" href="/register">Register now!</a>
    </div>
{% endblock %}